// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-select-style-wpandyou select {
  border-radius: 0;
  background: transparent;
  height: 34px;
  padding: 5px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  width: 268px;

}

#resourse_password{


}

